*
!*.java
!*.c
!*.h
!pom.xml
!README.md
!*/
!.gitignore
!db/init.sql.zip
!LICENSE

application.properties
!application-template.properties


# Track the folder itself, but ignore its contents
src/main/enigma_c/*
!src/main/enigma_c/.gitkeep

# Erlaube build-Ordner selbst (für Struktur)
!build/
# Erlaube nur .jar-Dateien im root von build/
!build/*.jar
# Alles andere im build-Ordner ignorieren
build/*/